<hr />
<div class="row row-comment align-middle">
  <div class="col-1 no-padding">
    <img src="https://i.dailymail.co.uk/i/pix/2013/06/13/article-0-1A4BB14C000005DC-554_634x429.jpg" 
          alt="pug-of-the-rings" 
          class="img-thumbnail">
  </div>
  <div class="col-11 no-padding">
    <div class="comment">
      <%= comment.body %>
      <br/><br/>
      <small class="text-muted float-right">
        <%= comment.created_at.strftime("On %d/%m/%Y at %I:%M%p") %>
      </small>
    </div>
  </div>
</div>