<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="row row-flex">
    <div class="col-11">
      <div class="form-group">
        <%= f.text_area :body, rows: 3, placeholder: "Leave a comment", class: 'form-control' %>
      </div>
    </div>
    <div class="col-1">
      <div class="actions align-bottom">
        <%= button_tag(type: 'submit', class: "btn btn-success rounded-button align-bottom") do %>
          <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>