<br />
<% if @posts.blank? %>
  <h2>At the moment, we still don't have any posts, but come back later :)</h2>
<% else %>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>

  <div class="pagination">
    <%= paginate @posts  %>
  </div>
<% end %>

<br>
