@import "bootstrap";

a {
    text-decoration: none !important;
    color: black;
}

h1 {
    color: #009dff;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

.navbar {
  background-color: #009dff;
}

.post {
  text-align: center;
}

.actions {
  text-align: center;
}

.post-image {
  text-align: center;
}

.aligned-center {
  text-align: center;
}

.navbar-brand, .nav-link {
  color: white;
  font-weight: bold;
}

.rounded-button {
  border-radius: 50%;
}

.comment {
  padding: 20px;
}

.no-padding {
  padding: 0;
}

.img-thumbnail {
  border: 0px !important;
}

.alert {
  text-align: center;
}

.post-body {
  font-size: 25px;
}

.row-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 auto;
  float: none;
}

.img-fluid {
  max-height: 250px !important;
  object-fit: cover;
}

.user-image-medium {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  font-size: 20px
}

.user-image-thumb {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  font-size: 20px
}

.red {
  color: red !important;
  font-weight: bold;
}

.blue {
  color: blue !important;
  font-weight: bold;
}

.blank-image-comment {
  font-size: 30px;
}