<h1>Categories</h1>

<% @categories.each do |category| %>
      <tr>
        <b><%= category.title %></b>
        <%= link_to '<i class="fas fa-times"></i> Destroy'.html_safe, category, method: :delete, class: 'btn btn-danger float-right' %>
        <br /><br />
        <hr />
      </tr>
    <% end %>
<br>

<%= link_to '<i class="fas fa-plus"></i> New Category'.html_safe, new_category_path, class: 'btn btn-primary' %>
